@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@300;400;500;600&family=Sigmar&display=swap');

* {
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: url(https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.maincry {
    position: relative;
    color: aliceblue;
    margin: 0.5%;
    left: 2%;
    font-size: 15px;    
}

.title {
  color: aliceblue;
  position: relative;
  font-size: 30px;
  margin: 16%;
  left: 10%;
}

.secondtitle {
  color: #ffffffb7;
  font-size: 15px;
  position: absolute;
  margin: 19.8%;
  right: 25.8%;
}

.btn {
  left: 2530%;
  bottom: -5%;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  position: relative;
  z-index: 3;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn::before {
  content: "";
  border: 3px solid white;
  position: absolute;
  left: -25px;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn:hover::before {
  left: -25px;
  bottom: -17.5px;
  width: 100%;
  padding: 20px;
  background-color: white;
  z-index: -1;
}

.btn:hover {
  color: #282828;
}

.btn3 {
  left: 2900%;
  bottom: -5%;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 17px;
  position: relative;
  z-index: 3;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn3::before {
  content: "";
  border: 3px solid white;
  position: absolute;
  left: -25px;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn3:hover::before {
  left: -25px;
  bottom: -17.5px;
  width: 100%;
  padding: 20px;
  background-color: white;
  z-index: -1;
}

.btn3:hover {
  color: #282828;
}

.btn4 {
  position: relative;
  bottom: -61%;
  left: -180.5%;
  width: 160px;
  height: 30px;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn4:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn4:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn4::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn4:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

